/vendor
/node_modules
/storage/*.key
/storage/*.pem
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/public/hot
/public/storage
.env
.env.*
/.git
